@import url('https://fonts.googleapis.com/css?family=Heebo:300&display=swap');

* {
  box-sizing: border-box;
}

body {
    font-family: 'Heebo', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
  }


  :root {
    --primary-color: #000;
    --secondary-color: #fff;
  }

  html.dark {
      background-color: #111;
      color: var(--primary-color);
  }

  html.dark {
      --primary-color: #fff;
      --secondary-color: #333;
  }

  html {
      transition: all 0.3s ease-in;
  }

  .toggle {
      background-color: var(--primary-color);
      color: var(--secondary-color);
      padding: 7px 12px;
      border-radius: 4px;
      cursor: pointer;
      position: absolute;
      top: 100px;
  }

  .toogle:focus {
    outline: none;
  }

  .clock-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .clock {
    height: 200px;
    width: 200px;
    position: relative;
  }


  .needle {
    height: 65px;
    width: 3px;
    background-color: var(--primary-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: bottom center;
    transition: all 0.5s ease-in;
  }

  .needle.hour {
    transform: translate(-50%, -100%) rotate(0deg);
  }

  .needle.minute {
    transform: translate(-50%, -100%) rotate(0deg);
    height: 100px;
  }

  .needle.second {
    background-color: #e74c3c;
    transform: translate(-50%, -100%) rotate(0deg);
    height: 100px;
  }

  .center-point {
    background-color: #e74c3c;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .center-point::after {
    content: '';
    background-color: var(--primary-color);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .time {
    font-size: 60px;
    font-weight: bold;
  }

  .date {
    color: #aaa;
    font-size: 14px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
  }

  .date .circle {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    height: 18px;
    width: 18px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 18px;
    transition: all 0.5s ease-in;
    font-size: 12px;
  }




