* {
    box-sizing: border-box;
}
body {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.form {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.background {
    background-image: url(/bg/password.jpg);
    filter: blur(10px);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    z-index: -1;
}

.form {
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
    padding: 10px;
}

.email {
    display: flex;
    width: 100%;
    justify-content: space-around;
    
}

.password {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 10px;
}

label {
    width: 40%;
}

input {
    width: 60%;
}

