* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(69, 3, 102);
}

.mobile {
    width: 100vw;
    height: 100vh;
    border: 2px solid white;
    border-radius: 15px;
    overflow: hidden;
}

.mobile-screen {
    display: flex;
    width: 100%;
    height: 80%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/images/home.jpg');
}

.home {
    display: flex;
    width: 100%;
    height: 80%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/images/home.jpg');
}

.about-us {
    display: flex;
    width: 100%;
    height: 80%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/images/about-us.jpg');
}

.work {
    display: flex;
    width: 100%;
    height: 80%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/images/work.jpg');
}

.blog {
    display: flex;
    width: 100%;
    height: 80%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/images/blog.jpg');
}

.tabs-container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.tab {
    flex: 1;
    display: block;
    height: inherit;
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
}
i {
    transform: translateY(100%);
}
.tab > i > p {
    font-size: 0.8rem;
    font-weight: bold;
    margin-top: 0.4rem;
}