@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: steelblue;
}

.empty {
    width: 150px;
    height: 150px;
    border: 2px solid rgb(37, 25, 25);
    background-color: rgba(0, 0, 0, 0.1);
    margin: 0 10px;
    overflow: hidden;
}

.hold {
    border: solid 5px #ccc;
}

.hovered{
    background-color: #333;
    border-color: white;
    border-style: dashed;
}

 .fill {
     width: 100%;
     height: 100%;
     background-image: url('http://source.unsplash.com/random/150x150');
     cursor: pointer ;
 }

@media (max-width: 800px) {
    body {
        flex-direction: column;
    }
}
