*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: steelblue;
    color: #fff;
    overflow: hidden;
    margin: 0;
}

.container{
    background-color: rgba(0,0,0,0.4);
    border-radius: 5px;
    padding: 20px 40px;
}

.container h1{
    text-align: center;
    margin-bottom: 30px;
}

.container a {
    text-decoration: none;
    color: steelblue;
}
.btn{
    cursor: pointer;
    display: inline-block;
    width: 100%;
    font-size: 18px;
    color: steelblue;
    border: 0;
    border-radius: 5px;
    padding: 15px;

}
.btn:active{
    transform: scale(0.95);
}
.form-control{
    position: relative;
    margin: 30px 0 40px;
    width: 300px;

}

.form-control input{
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #fff;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: #fff;

}
.form-control input:focus,
.form-control input:valid{
    outline: 0;
    border-bottom-color: lightblue ;
}

.form-control label span{
    display: inline-block;
    min-width: 5px;
    font-size: 18px;
    transition: 200ms cubic-bezier(0.68, -0.5, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span{
    color: lightblue;
    transform: translateY(-65px);
}